---
import Layout from "../layouts/Layout.astro";
---

<Layout path="/about" t-itle="About">
  <main
    class="bg-indigo-50 py-[160px] gap-[40px] w-full h-full flex flex-col items-center flex-1">
    <div class="flex items-center gap-4">
      <h1 class="text-5xl sm:text-6xl max-w-[500px]">About</h1>
      <div class="w-[200px] rounded-lg p-8">
        <img
          class="object-contain rounded-lg border border-indigo-900"
          src="/profile.jpg"
          alt="Profile picture"
        />
      </div>
    </div>
    <section>
      <h2 class="text-4xl">Jarle Tollaksen</h2>
      <div class="flex flex-wrap gap-2 max-w-[400px]">
        <span class="bg-slate-400 text-indigo-50 font-bold p-1 rounded-lg"
          >34 Years</span
        >
        <span class="bg-slate-500 text-indigo-50 font-bold p-1 rounded-lg"
          >Teacher</span
        >
        <span class="bg-slate-600 text-indigo-50 font-bold p-1 rounded-lg"
          >Curious</span
        >
        <span class="bg-slate-700 text-indigo-50 font-bold p-1 rounded-lg"
          >Problem-Solver</span
        >
        <span class="bg-slate-800 text-indigo-50 font-bold p-1 rounded-lg"
          >Coding Enthusiast</span
        >
      </div>
    </section>

    <section>
      <h2 class="text-4xl">Knows</h2>
      <div class="flex flex-wrap gap-2 max-w-[400px]">
        <span class="bg-zinc-400 text-indigo-50 font-bold p-1 rounded-lg"
          >Front-End Development</span
        >
        <span class="bg-zinc-500 text-indigo-50 font-bold p-1 rounded-lg"
          >JavaScript</span
        >
        <span class="bg-zinc-600 text-indigo-50 font-bold p-1 rounded-lg"
          >HTML</span
        >
        <span class="bg-zinc-700 text-indigo-50 font-bold p-1 rounded-lg"
          >CSS</span
        >
        <span class="bg-zinc-800 text-indigo-50 font-bold p-1 rounded-lg"
          >Tailwind</span
        >

        <span class="bg-zinc-900 text-indigo-50 font-bold p-1 rounded-lg"
          >React</span
        >
        <span class="bg-zinc-900 text-indigo-50 font-bold p-1 rounded-lg"
          >Next.js</span
        >
        <span class="bg-zinc-900 text-indigo-50 font-bold p-1 rounded-lg"
          >Prisma</span
        >
        <span class="bg-zinc-100 text-indigo-50 font-bold p-1 rounded-lg"
          >Zod</span
        >
      </div>
    </section>

    <section>
      <h2 class="text-4xl">Currently Learning</h2>
      <div class="flex flex-wrap gap-2 max-w-[400px]">
        <span class="bg-gray-500 text-indigo-50 font-bold p-1 rounded-lg"
          >Back-End Development</span
        >
        <span class="bg-gray-600 text-indigo-50 font-bold p-1 rounded-lg"
          >C#</span
        >
        <span class="bg-gray-700 text-indigo-50 font-bold p-1 rounded-lg"
          >ASP.NET Core</span
        >
        <span class="bg-gray-800 text-indigo-50 font-bold p-1 rounded-lg"
          >Data structures & algorithms</span
        >

        <span class="bg-gray-900 text-indigo-50 font-bold p-1 rounded-lg"
          >RESTful APIs</span
        >
      </div>
    </section>
    <a
      class="p-3 bg-indigo-900 text-indigo-50 font-bold rounded-lg"
      href="contact"
      >Contact me
    </a>
  </main>
</Layout>
