---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
---

<Layout path="/contact" title="Contact">
  <main class="bg-indigo-50 h-full">
    <h1 class="text-5xl sm:text-6xl max-w-[500px]">Contact</h1>
    <form class="flex flex-col items-center bg-indigo-50" action="">
      <label for="Email">Email</label>
      <input class="" name="email" id="email" type="text" />
      <label for="email">Message</label>
      <textarea name="message" id="message"></textarea>
      <button class="p-3 bg-indigo-900 text-indigo-50 w-[250px] rounded-md"
        >Send Message</button
      >
    </form>
  </main>
</Layout>

<style></style>
