---
import Layout from "../layouts/Layout.astro";
---

<Layout path="/" title="Home">
  <main
    class="bg-indigo-50 w-full h-full flex items-center justify-evenly flex-1" id="top">
    <div class="flex flex-col gap-[20px]">
      <div>
        Jarle Tollaksen <span class="font-bold"> Developer </span>
        <h1 class="text-5xl sm:text-6xl max-w-[500px]">
          Developing with <span class="text-indigo-900">Purpose </span>
        </h1>
      </div>

      <p>
        <p class="text-3xl sm:text-4xl max-w-[500px]">
          Focused on <span class="font-bold">simplicity</span>
          and <span class="font-bold"> functionality </span>
          to solve <span class="font-bold"> real problems.</span>
        </p>
        <div
          class="sm:hidden w-[250px] rounded-sm border border-indigo-900 border-2">
          <img class="object-contain w-full h-full" src="/profile.jpg" alt="" />
        </div>
        <a
          class="font-bold p-3 bg-slate-900 text-green-50 text-center w-[280px] rounded-md"
          href="/projects">View Projects</a
        >
      </p>
    </div>
    <div
      class="hidden sm:block w-[300px] rounded-sm border border-indigo-900 border-2">
      <img
        class="object-contain w-full h-full"
        src="/profile.jpg"
        alt=""
      />
    </div>
  </main>
</Layout>

<style></style>
