---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
---

<Layout title="Home">
  <main class="flex--container">
    <h1 class="index__header--h1">Designing with Purpose</h1>
    <span class="spann--semi-bold"></span>
    <p class="p--light self-end">
      Focused on <span class="span--semi-bold">simplicity</span>
      and <span class="span--semi-bold"> functionality </span>
      to solve <span class="span--semi-bold"> real problems.</span>
    </p>
  </main>
  <Links />
</Layout>

<style>
  .flex--container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
  }

  .self-end {
    align-self: flex-end;
  }

  .span--semi-bold {
    font-weight: 500;
    margin: 0;
  }

  .p--light {
    font-weight: 200;
    margin: none;
    font-size: 63px;
    width: 400px;
    margin: 0 0 50px 0;
    color: var(--shade--five);
  }

  @media screen and (max-width: 400px) {
    .p--light {
      font-size: 29px;
      width: 326px;
    }
  }
  @media screen and (max-width: 722px) {
    .p--light {
      font-size: 32px;
    }
  }
  @media screen and (max-width: 822px) {
    h1 {
      font-size: 70px;
    }
    .p--light {
      font-size: 40px;
      width: 454px;
    }
  }
  @media screen and (min-width: 823px) {
    h1 {
      font-size: 75px;
      width: 900px;
    }
    .p--light {
      font-size: 41px;
      width: 462px;
    }
  }
</style>
