---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

type project = {
  title: string;
  description: string;
  imgSrc: string;
  githubLink: string;
  liveLink: string;
};
const projects: project[] = [
  {
    title: "Holidaze",
    description: `Holidaze is my final exam project at Noroff, built with Next.js. This web application enables venue booking and management through a user-friendly interface. Users can find, book, and manage venues, access detailed listings, and search for specific venues. Customers and venue managers can register with their stud.noroff.no email. Customers can book venues and view reservations, while managers can create, update, delete, and manage bookings. Users can also log in, update their profile, and manage their accounts. Holidaze demonstrates my skills in both front-end`,
    imgSrc: "/holidaze.jpg",
    liveLink: "https://holidazejarle.netlify.app/",
    githubLink: "https://github.com/Jarle302/holidaze",
  },
  {
    title: "Silk 'n Sound",
    description: `Silk N Sound is an e-commerce site built with Next.js as my final exam project at Noroff. The homepage displays all products with a search bar that filters as you type. Each product has a detailed page with its title, description, image, price, and reviews. Discounts are shown if available.

The site uses a <Layout> component for a consistent header and footer. The header has a navigation bar and a Cart icon displaying the number of items in the cart. The Cart page lists all items with a total and a Checkout button leading to a success page. After checkout, the cart is cleared, and users see a success message with a link back to the store.

There is also a Contact page with a form that validates the full name, subject, email, and message body. Silk N Sound showcases my skills in creating a functional and user-friendly shopping platform.`,
    imgSrc: "/silknsound.jpg",
    liveLink: "https://silkandsound.netlify.app/",
    githubLink: "https://github.com/Jarle302/js-frameworks-ca",
  },
  {
    title: "Collective Chest",
    description: `The Collective Chest is an auction site built with Next.js as my second year semester project at Noroff. The platform allows users to browse, bid on, and list items for auction. Users can register with their stud.noroff.no email to create an account, log in, and manage their profile. Sellers can list new items for auction, update existing listings, and manage their auctions. Buyers can search for items, place bids, and view their bidding history.`,
    imgSrc: "/collectivechest.jpg",
    liveLink: "https://papaya-swan-bab731.netlify.app/",
    githubLink: "https://github.com/Jarle302/sp2Next",
  },
];
---

<Layout path="/projects" title="Projects">
  <main>
    <h1>Projects</h1>
    <div class="flex flex-col gap-14 items-center">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </main>
</Layout>
